/* Write your CSS here */
.list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.p {
  font-size: 14px;
  color: #000000;
  margin: 4px;
}
.b {
  border: 1px solid #ff0b37;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  font-size: 8px;
  color: #ff0b37;
}
